*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    width: 310px;
    margin: 120px auto;

}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
}


.token{
    background-color: #f3ea60;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px #b96453;


}

